@{
    ViewData["Title"] = "Home Page";
}

@{
    var mascotaNombre = "Mascotita";
    var mascotaDescripcion = "Mi mascotita es una gatita blanca adorable que siempre está lista para jugar y dar mucho amor, es muy travies y rompe todo lo que se le atraviesa, tiene 4 mesesitos y se llama Giorgina.";
    var imagenUrl = "https://www.patasdacasa.com.br/sites/default/files/styles/article_detail_desktop/public/noticias/2020/06/racas-de-gatos-brancos-descubra-as-mais-comuns.jpg.webp?itok=PxsQu5D9"; // Reemplaza con la URL real de la imagen.
}

<div class="mascotita-container" style="text-align:center; margin-top:20px;">
    <h2>@mascotaNombre</h2>
    <p>@mascotaDescripcion</p>
    <img src="@imagenUrl" alt="Gatito blanco - @mascotaNombre" style="max-width: 100%; height: auto; border-radius: 15px; box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);">
</div>