@{
    ViewData["Title"] = "Home Page";
}

@{
    var mascotaNombre = "Mascotita";
    var mascotaDescripcion = "Tengo 2 pasores alemanes y 1 perrita pequeña color miel y siempre que salimos a pasear se ponen felices, la otra vez los llevamos a la playa y se divirtieron mucho, al machito le encanta el agua y disfruto mucho ese dia, el machito se llama Rex y las hembritas se llaman Laykas.";
    var imagenUrl = "https://i.pinimg.com/564x/0d/15/9e/0d159e7e6e4cce4b065baf15a53c6406.jpg"; 
}

<div class="mascotita-container" style="text-align:center; margin-top:20px;">
    <h2>@mascotaNombre</h2>
    <p>@mascotaDescripcion</p>
    <img src="@imagenUrl" alt="perritos - @mascotaNombre" style="max-width: 100%; height: auto; border-radius: 15px; box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);">
</div>